workflows/agent-ai.json
{"name": "agent-ai", "nodes": [{"parameters": {"path": "agent-ai", "httpMethod": "POST", "responseMode": "responseNode"}, "id": "WebhookAgent", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 300]}, {"parameters": {"method": "POST", "url": "http://host.docker.internal:8010/enqueue_ai", "sendBody": true, "contentType": "json", "bodyParametersJson": "={\"goal\": $json.body?.goal ?? $json.body?.prompt ?? $json.goal ?? $json.prompt}"}, "id": "Enqueue", "name": "enqueue_ai", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [400, 300]}, {"parameters": {"values": {"number": [{"name": "job_id", "value": "={{$json.id}}"}]}}, "id": "SetJob", "name": "Set job id", "type": "n8n-nodes-base.set", "typeVersion": 2, "position": [600, 300]}, {"parameters": {"amount": 2, "unit": "seconds"}, "id": "Wait", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1, "position": [800, 300]}, {"parameters": {"method": "GET", "url": "=http://host.docker.internal:8010/jobs/{{$json.job_id}}"}, "id": "GetJob", "name": "get job", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1000, 300]}, {"parameters": {"conditions": {"string": [{"value1": "={{$json.status}}", "operation": "equal", "value2": "done"}]}}, "id": "IfDone", "name": "if done", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1200, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={{ { ok:true, result:$json.result } }}"}, "id": "Respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1400, 200]}], "connections": {"Webhook": {"main": [[{"node": "enqueue_ai", "type": "main", "index": 0}]]}, "enqueue_ai": {"main": [[{"node": "Set job id", "type": "main", "index": 0}]]}, "Set job id": {"main": [[{"node": "Wait", "type": "main", "index": 0}]]}, "Wait": {"main": [[{"node": "get job", "type": "main", "index": 0}]]}, "get job": {"main": [[{"node": "if done", "type": "main", "index": 0}]]}, "if done": {"main": [[{"node": "Respond", "type": "main", "index": 0}], [{"node": "Wait", "type": "main", "index": 0}]]}}, "settings": {"executionTimeout": 120}}